@import "tailwindcss";

@theme {
  --color-charged-yellow: oklch(91% 0.2 128);
  --color-charged-yellow-dark: oklch(80% 0.2 128);
  --font-serif: "Playfair", serif;
}

@layer base {
  body {
    @apply bg-slate-100 text-black;
  }
}

@layer components {
  .small-text {
    @apply text-xs tracking-wider uppercase;
  }

  .a11y-rings{
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-4
  }
}